/* line 5, ../scss/main.scss */
body {
  background: #3a539b;
  font-family: "Roboto", sans-serif;
}

/* line 10, ../scss/main.scss */
header {
  margin: 0 auto;
  padding: 2.5%;
  padding-bottom: 0;
  text-align: right;
}

/* line 17, ../scss/main.scss */
.fa-info-circle {
  color: #fff;
}

/* line 21, ../scss/main.scss */
h1 {
  color: #fff;
  text-align: center;
  font-size: 200%;
  margin: 0 1em;
  padding: 3%;
  padding-bottom: 5%;
}

/* line 30, ../scss/main.scss */
#btns {
  text-align: center;
  margin-top: 2em;
}

/* line 35, ../scss/main.scss */
.btn {
  display: inline-block;
  padding: 1% 3%;
  margin: 3% auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 100%;
  letter-spacing: 0.1em;
  outline: none;
  cursor: pointer;
}

/* line 47, ../scss/main.scss */
.btn-crypt {
  margin-left: 2%;
  margin-right: 2%;
  border: 4px solid #373d3f;
  border-radius: 50px;
  color: #fff;
  background: #373d3f;
  transition: all ease 0.4s;
}
/* line 56, ../scss/main.scss */
.btn-crypt:hover {
  background: #fff;
  border-color: #373d3f;
  color: #373d3f;
}

/*** TOOL TIP ***/
/* line 64, ../scss/main.scss */
.my-custom-theme {
  border-radius: 5px;
  border: 2px solid #fff;
  background: #fff;
  color: #373d3f;
}

/* line 70, ../scss/main.scss */
.my-custom-theme .tooltipster-content {
  font-family: "Roboto", sans-serif;
  color: #373d3f;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
}

/*** DROPZONE ***/
/* line 82, ../scss/main.scss */
.dropzone,
.dropzone *,
.dropzone-previews,
.dropzone-previews * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 87, ../scss/main.scss */
.dropzone {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background: #373d3f;
  color: #fff;
  text-align: center;
  padding: 1em;
  margin: 2% 5%;
  min-height: 300px;
}

/* line 98, ../scss/main.scss */
.dropzone.dz-clickable {
  cursor: pointer;
}

/* line 102, ../scss/main.scss */
.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message span {
  cursor: pointer;
}

/* line 105, ../scss/main.scss */
.dropzone.dz-clickable * {
  cursor: default;
}

/* line 108, ../scss/main.scss */
.dropzone .dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

/* line 113, ../scss/main.scss */
.dropzone.dz-drag-hover {
  border-color: rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.04);
}

/* line 117, ../scss/main.scss */
.dropzone.dz-started .dz-message {
  display: none;
}

/* line 121, ../scss/main.scss */
.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  display: inline-block;
  margin: 17px;
  vertical-align: top;
  border: 1px solid #acacac;
  padding: 6px 6px 6px 6px;
}

/* line 131, ../scss/main.scss */
.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
  display: none;
}

/* line 135, ../scss/main.scss */
.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
  width: 100px;
  height: 100px;
  position: relative;
  background: #ebebeb;
  padding: 5px;
  margin-bottom: 22px;
}

/* line 144, ../scss/main.scss */
.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename {
  overflow: hidden;
  height: 100%;
}

/* line 149, ../scss/main.scss */
.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

/* line 157, ../scss/main.scss */
.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
  position: absolute;
  bottom: -28px;
  left: 3px;
  height: 28px;
  line-height: 28px;
}

/* line 165, ../scss/main.scss */
.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: block;
}

/* line 169, ../scss/main.scss */
.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
  display: block;
}

/* line 173, ../scss/main.scss */
.dropzone .dz-preview:hover .dz-details img,
.dropzone-previews .dz-preview:hover .dz-details img {
  display: none;
}

/* line 179, ../scss/main.scss */
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  right: -10px;
  top: -10px;
}

/* line 190, ../scss/main.scss */
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  color: #8cc657;
}

/* line 194, ../scss/main.scss */
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  color: #ee162d;
}

/* line 198, ../scss/main.scss */
.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
  position: absolute;
  top: 100px;
  left: 6px;
  right: 6px;
  height: 6px;
  background: #d7d7d7;
  display: none;
}

/* line 208, ../scss/main.scss */
.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #8cc657;
}

/* line 218, ../scss/main.scss */
.dropzone .dz-preview.dz-processing .dz-progress,
.dropzone-previews .dz-preview.dz-processing .dz-progress {
  display: block;
}

/* line 222, ../scss/main.scss */
.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  display: none;
  position: absolute;
  top: -5px;
  left: -20px;
  background: rgba(245, 245, 245, 0.8);
  padding: 8px 10px;
  color: #800;
  min-width: 140px;
  max-width: 500px;
  z-index: 500;
}

/* line 235, ../scss/main.scss */
.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  display: block;
}

/* line 239, ../scss/main.scss */
.dz-message {
  padding-top: 100px;
  text-transform: uppercase;
}
